.sectionOne {
  margin: 82px 0 0 64px;
}
.secondPara {
  width: 648px;
  height: 189px;
  margin: 16px 0 0 0;
  font-size: 18px;
  line-height: 1.5;
}
.insideText-2 {
  margin: 32px 0 0 0;
}
.codeImage {
  width: 648px;
  height: 414px;
  margin: 40px 0 39px 0;
}
